@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.stats {
  padding: 2rem 1rem;
  position: relative;

  width: 100%;
  min-height: calc(100vh - 8rem);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;

  &__title {
    @include m.text-style(v.$font-title, v.$font-weight-bold, v.$line-height-default);
    color: var(--text-color);
    letter-spacing: 0.05rem;
    transition: color 0.4s ease;
  }

  &__subtitle {
    margin-top: 1rem;
    @include m.text-style(v.$font-size-md, v.$font-weight-medium, v.$line-height-default);
    color: var(--text-color);
    transition: color 0.3s ease;
  }

  &__container {
    margin-top: 2rem;
    width: 100%;

    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &__total {
    margin: 0;
    @include m.text-style(v.$font-size-md, v.$font-weight-bold, v.$line-height-default);
    transition: color 0.3s ease;
  }

  &__scalesWrapper {
    padding: 1rem;
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border-radius: v.$radius-xl;
    background-color: #fff;
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    h5 {
      margin-bottom: 1rem;
      @include m.text-style(v.$font-size-md, v.$font-weight-bold, v.$line-height-default);
    }
  }

  &__circleWrapper {
    padding: 2rem;
    flex: 1 1 25%;
    border-radius: v.$radius-xl;
    background-color: #fff;
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__barWrapper {
    flex: 1 1 45%;
  }

  &__stackedBarWrapper {
    flex: 1 1 25%;
  }

  .stats__barWrapper,
  .stats__stackedBarWrapper {
    min-width: 300px;
    max-width: 100%;
    min-height: 350px;
    max-height: 400px;
    padding: 1rem;
    border-radius: v.$radius-xl;
    background-color: #fff;
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .stats__container {
    display: flex;
    flex-direction: column;
  }

  .stats__barWrapper,
  .stats__stackedBarWrapper {
    flex: 0 1 100%;
    width: 100%;
    min-width: unset;
    max-width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .stats {
    &__barWrapper,
    &__stackedBarWrapper {
      min-width: 100% !important;
      max-width: 100%;
      height: auto;
      min-height: 180px;
      padding: 0.5rem;
    }
  }
}
