@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.notification {
  padding: 2rem;
  position: relative;
  width: 100%;
  max-width: 70rem;

  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  border-radius: v.$radius-xl;
  animation: fadeInUp 0.4s ease forwards;

  &.reminder {
    background-color: #4386dfff;

    &::after {
      border-color: transparent #4386dfff transparent transparent;
    }
  }

  &.overdue {
    background-color: #e79805;

    &::after {
      border-color: transparent #e79805 transparent transparent;
    }
  }

  &.warning {
    background-color: #b32929;

    &::after {
      border-color: transparent #b32929 transparent transparent;
    }
  }

  &.read {
    background-color: rgb(156, 156, 156);
    transition: background-color 0.3s ease;

    &::after {
      border-color: transparent rgb(156, 156, 156) transparent transparent;
      transition: border-color 0.3s ease;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -15px;
    transform: translateY(-50%);
    border-style: solid;
    transition: border-color 0.3s ease;
    border-width: 10px 20px 10px 0;
    rotate: 225deg;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

    button {
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5rem;
      border: 1px solid #fff;
      border-radius: v.$radius-lg;
      background-color: transparent;
      color: #fff;
      cursor: pointer;
      @include m.hover-effect();

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      p {
        @include m.text-style(
          v.$font-size-sm,
          v.$font-weight-semibold,
          v.$line-height-default
        );
      }
    }
  }

  &__title {
    @include m.text-style(v.$font-size-md, v.$font-weight-bold, v.$line-height-default);
    color: #fff;
  }

  &__text {
    @include m.text-style(v.$font-size-sm, v.$font-weight-semibold, 160%);
    color: #fff;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768.1px) {
  .notification {
    width: 100%;
  }
}
