@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;

.input {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__label {
    @include m.text-style(v.$font-size-sm, v.$font-weight-semibold, v.$line-height-default);
    color: #fff;
    letter-spacing: 0.1rem;
  }

  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__img {
    position: absolute;
    left: 2rem;
    top: 50%;

    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    height: 6rem;
    padding-left: 4.6rem;

    color: #fff;
    @include m.text-style(v.$font-size-md, v.$font-weight-regular, v.$line-height-default);
    letter-spacing: 0.2rem;

    border: 1px solid #fff;
    background: transparent;
    border-radius: v.$radius-md;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
      -webkit-text-fill-color: #fff !important;
      background-color: transparent !important;
      transition: background-color 9999s ease-in-out 0s;
    }

    &::placeholder {
      @include m.text-style(v.$font-size-md, v.$font-weight-regular, v.$line-height-default);
      color: #fff;
    }

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }
  }

  &__options {
    margin-top: 1.2rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
  }

  &__check {
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: #fff;

    label {
      @include m.text-style(v.$font-size-md, v.$font-weight-medium, v.$line-height-default);
    }

    input[type='checkbox'] {
      margin: 0;
    }
  }

  &__link {
    @include m.text-style(v.$font-size-md, v.$font-weight-medium, v.$line-height-default);
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
  }
}
