@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.notification {
  position: relative;
  padding: 1.4rem 0.5rem;
  width: 100%;

  background-color: var(--accent-color);
  border-radius: v.$radius-lg;

  img {
    width: 3rem;
  }

  &__item {
    position: absolute;
  }

  &__text {
    margin-top: 3rem;
    @include m.text-style(v.$font-size-xs, v.$font-weight-medium, v.$line-height-default);
    color: #fff;
  }

  button {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      color: #fff;
      font-size: 2rem;
      @include m.hover-effect();
    }
  }

  &__complete {
    right: 3.2rem;
  }

  &__delete {
    right: 0.3rem;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -5px;
    transform: rotate(-45deg);
    border-width: 15px 15px 0 15px;
    border-style: solid;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 20px solid var(--accent-color);
  }

  &.read {
    background-color: #999;
    transition: background-color 0.3s ease;

    &::after {
      border-top: 20px solid #999;
      transition: border-top 0.3s ease;
    }
  }
}

@media screen and (max-width: 768.1px) {
  .notification__text {
    @include m.text-style(v.$font-size-xs, v.$font-weight-medium, v.$line-height-default);
  }
}
