@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;

.application {
  padding: 0 1rem;
  background-color: var(--bg-color);

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  transition: background-color 0.3s ease;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
  }

  &__header {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-shrink: 0;
  }

  &__title {
    @include m.text-style(v.$font-size-lg, v.$font-weight-bold, v.$line-height-default);
    flex: 1 1 100%;
    text-align: center;

    color: var(--text-color);
    transition: color 0.3s ease;
  }

  &__search {
    flex: 1 1 20rem;
    min-width: 15rem;
    max-width: 37rem;
    flex-shrink: 1;
    position: relative;

    &_input {
      width: 100%;
      height: 4.5rem;
      padding: 0.8rem 3.2rem 0.8rem 1.2rem;
      font-size: v.$font-size-sm;
      letter-spacing: 0.5px;

      color: #b3b3b3;
      &::placeholder {
        color: #b3b3b3;
      }

      border: 1px solid #e6e6e6;
      border-radius: v.$radius-xl;

      &:hover {
        border-color: var(--accent-color);
      }
    }

    &_icon {
      width: 2.2rem;
      height: 2.2rem;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  &__categories {
    flex: 1 1 20rem;

    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__newTaskBtn {
    flex: 0 1 auto;
    height: 5rem;
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

    @include m.text-style(v.$font-size-md, v.$font-weight-semibold, v.$line-height-default);
    color: #fff;
    white-space: nowrap;

    background-color: var(--accent-color);
    border-radius: v.$radius-xl;
    border: none;

    cursor: pointer;
    @include m.hover-effect();

    &:focus {
      border: 1px solid var(--focus-color);
    }
  }

  .application__taskListWrapper {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  .statusBar__title {
    font-size: 50px;
  }

  .drag {
    position: relative;
    margin-top: 1.5rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__text {
      @include m.text-style(v.$font-size-sm, v.$font-weight-semibold, v.$line-height-default);
      color: var(--text-color);
      letter-spacing: 0.1px;

      position: absolute;
      right: 100%;
      margin-left: 0.5rem;
      white-space: nowrap;

      opacity: 0;
      transform: translateX(15px);
      transition:
        opacity 0.4s ease,
        transform 0.4s ease;
    }

    &__button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        color: var(--text-color);
        font-size: 3rem;
      }

      &:hover + .drag__text {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  @media screen and (min-width: 1024.1px) {
    &__header {
      flex-wrap: nowrap;
      gap: 2rem;
    }

    &__title {
      flex: 0 0 auto;
      text-align: left;
    }

    &__search {
      flex: 0 1 28rem;
      max-width: 37rem;
    }

    &__categories {
      flex: 0 0 18rem;
      max-width: 25rem;
    }

    &__newTaskBtn {
      flex: 0 0 auto;
    }
  }

  @media screen and (max-width: 768.1px) {
    &__wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &__header {
      padding-top: var(--header-height);
      position: relative;
      bottom: 5rem;
      gap: 2rem;
    }
  }

  @media screen and (max-width: 500.1px) {
    &__header {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      text-align: center;
    }

    &__search,
    &__categories,
    &__newTaskBtn {
      flex: 0 1 auto;
      width: 100%;
      max-width: 100%;
    }
  }
}
