@use '@styles/variables' as v;
@use '@styles/mixins' as m;

.taskMobile {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  border: 1px solid #d3d3d3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: v.$radius-lg;
  background-color: #fff;
  animation: slideInPop 0.3s cubic-bezier(0.25, 1.1, 0.3, 1) forwards;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__category {
    padding: 0.5rem 1rem;
    border-radius: v.$radius-lg;
    background-color: var(--accent-color);
  }

  &__categoryText {
    @include m.text-style(v.$font-size-sm, v.$font-weight-medium, v.$line-height-default);
    color: #fff;
  }

  &__checkbox {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  &__body {
    margin-bottom: 1rem;
  }

  &__name {
    @include m.text-style(v.$font-size-md, v.$font-weight-semibold, v.$line-height-default);
    margin-bottom: 1rem;
  }

  &__deadline {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__deadlineIcon {
    width: 2.1rem;
    height: 2.1rem;
  }

  &__deadlineText {
    @include m.text-style(v.$font-size-xs, v.$font-weight-regular, v.$line-height-default);
    color: #999;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__status {
    padding: 0.5rem 1rem;
    border-radius: v.$radius-lg;
    background-color: var(--accent-color);
  }

  &__statusText {
    @include m.text-style(v.$font-size-xs, v.$font-weight-regular, v.$line-height-default);
    color: #fff;
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__remaining {
    @include m.text-style(v.$font-size-xs, v.$font-weight-medium, v.$line-height-default);
    color: #999;
  }

  &__deleteBtn {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__deleteIcon {
    width: 2.1rem;
    height: 2.1rem;
  }

  &.done {
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    background-color: var(--nav-color);
    transform: scale(0.98);

    .taskMobile__name {
      color: var(--text-color);
      transition: color 0.3s ease;
    }

    .taskMobile__category {
      background-color: #999;
      transition: background-color 0.3s ease;
    }

    .taskMobile__status {
      background-color: #999;
      transition: background-color 0.3s ease;
    }
  }
}

@keyframes slideInPop {
  0% {
    opacity: 0;
    transform: translateX(40px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateX(-4px) scale(1.03);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
