@use '@styles/variables' as v;
@use '@styles/mixins' as m;

.taskMobile {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: v.$radius-lg;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  border: 1px solid #e0e0e0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  &__category {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: var(--accent-color);
  }

  &__categoryText {
    color: #fff;
    @include m.text-style(v.$font-size-sm, v.$font-weight-medium, v.$line-height-default);
  }

  &__checkbox {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  &__body {
    margin-bottom: 1rem;
  }

  &__name {
    margin-bottom: 0.6rem;
    color: #111;
    @include m.text-style(v.$font-size-md, v.$font-weight-semibold, v.$line-height-default);
  }

  &__deadline {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__deadlineText {
    color: #666;
    @include m.text-style(v.$font-size-xs, v.$font-weight-regular, v.$line-height-default);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__status {
    padding: 0.6rem 0.8rem;
    position: relative;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    &.open svg {
      transform: rotate(-180deg);
      transition: transform 0.3s ease;
    }
  }

  &__statusText {
    @include m.text-style(v.$font-size-xs, v.$font-weight-regular, v.$line-height-default);
  }

  &__statusList {
    position: absolute;
    bottom: calc(100% + 6px);
    left: -0.2rem;
    width: 200%;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    padding: 0.4rem 0;
    z-index: 5;

    li {
      padding: 0.6rem 1rem;
      color: #111;
      border: 1px solid #ccc;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      @include m.text-style(v.$font-size-xs, v.$font-weight-regular, v.$line-height-default);
    }
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__remaining {
    font-size: 0.8rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @include m.text-style(v.$font-size-xs, v.$font-weight-regular, v.$line-height-default);
  }

  &__remainingHighlight {
    padding: 0.6rem 0.8rem;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: #fff;
    @include m.text-style(v.$font-size-xs, v.$font-weight-regular, v.$line-height-default);
  }

  &__deleteBtn {
    background: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &__deleteMenu {
    padding: 2rem;
    position: absolute;
    bottom: calc(100% + 6px);
    right: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;

    p {
      @include m.text-style(v.$font-size-md, v.$font-weight-bold, v.$line-height-default);
      margin-bottom: 0.5rem;
      color: #555;
    }

    div {
      display: flex;
      gap: 1rem;

      button {
        padding: 0.5rem 1.5rem;
        @include m.text-style(v.$font-size-sm, v.$font-weight-bold, v.$line-height-default);
        border-radius: 6px;
        border: none;
        cursor: pointer;

        &:first-child {
          background: var(--accent-color);
          color: #fff;
        }

        &:last-child {
          background: #e0e0e0;
          color: #111;
        }
      }
    }
  }

  &.done {
    background: #e0ffe0;
  }

  &.inprogress {
    background: #fff8e0;
  }

  &.archived {
    background: #f5f5f5;
    font-style: italic;
  }
}
