@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.imgWrapper {
  background: rgba(255, 0, 0, 0.1);
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.img {
  width: 8rem;
  height: 8rem;
}

.title {
  @include m.text-style(v.$font-size-lg, v.$font-weight-bold, v.$line-height-tight);
  color: v.$color-accent;
  text-align: center;
  margin: 0;
}

.text {
  margin: 1.5rem 0 2rem 0;
  @include m.text-style(v.$font-size-md, v.$font-weight-medium, v.$line-height-default);
  color: #333;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 375.1px) {
  .imgWrapper {
    padding: 1rem;
  }

  .img {
    width: 6rem;
    height: 6rem;
  }

  .title {
    font-size: 1.6rem;
  }
}
