@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;

.auth {
  width: 100%;
  background-size: cover;
  background-position: center;

  &__container {
    width: 100%;
    max-width: 65rem;
    min-height: 100%;
    height: var(--app-height);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
      to bottom,
      rgba(102, 102, 102, 0.8) 0%,
      rgba(204, 204, 204, 0.1) 80%
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: v.$radius-lg;

    &_wrapper {
      width: 100%;
      max-width: 50rem;
      display: flex;
      flex-direction: column;
      row-gap: 4rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__headerTitle {
    @include m.text-style(v.$font-size-xl, v.$font-weight-semibold, v.$line-height-loose);
    color: #fff;
    letter-spacing: 0.1rem;
  }

  &__headerSubtitle {
    margin-top: 1rem;
    @include m.text-style(v.$font-size-md, v.$font-weight-medium, v.$line-height-loose);
    color: #fff;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  &__footerWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__signupLink {
    @include m.text-style(v.$font-size-sm, v.$font-weight-medium, v.$line-height-default);
    color: #fff;
    text-align: center;
    letter-spacing: 0.1rem;

    a {
      text-decoration: none;
      color: v.$color-primary-light;
      font-weight: v.$font-weight-bold;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    color: v.$color-primary-light;
    @include m.text-style(v.$font-size-sm, v.$font-weight-bold, v.$line-height-default);
    letter-spacing: 0.1rem;

    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  html,
  body {
    overflow-x: hidden;
    height: 100%;
  }

  .auth__container {
    max-width: 100%;
    padding: 0.5rem;
    height: var(--app-height);
  }
}
