@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(20, 20, 20, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  transition: opacity 0.4s ease;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &__content {
    padding: 2rem;
    width: 100%;
    max-width: 50rem;
    max-height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 2rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateY(-10px);
    transition: transform 0.4s ease;

    .show & {
      transform: translateY(0);
      opacity: 1;
    }

    .hide & {
      transform: translateY(-10px);
      opacity: 0;
    }
  }
}
