@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.pagination {
  margin-top: auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  cursor: pointer;

  &__back,
  &__next {
    width: 3.6rem;
    height: 3.6rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 3.6rem;
        height: 3.6rem;
      }
    }
  }

  &__pages {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }

  &__pageNumber {
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include m.text-style(v.$font-size-sm, v.$font-weight-semibold, v.$line-height-default);
    color: #999;
    background-color: transparent;

    &.active {
      background-color: var(--accent-color);
      border-radius: v.$radius-sm;
      @include m.hover-effect();
      transition: all 0.3s ease;

      p {
        color: #fff;
      }
    }
  }
}
