@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--focus-color);
  outline-width: 3px;
  outline-offset: 2px;
}

ul[class],
ol[class] {
  padding: 0;
}

html {
  font-size: 10px;
  height: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 768.1px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 425.1px) {
  html {
    font-size: 7px;
  }
}
