@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.notifications__button {
  padding: 0rem 2rem;
  height: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;

  @include m.text-style(v.$font-size-md, v.$font-weight-semibold, v.$line-height-default);
  color: #fff;
  background-color: var(--accent-color);
  border-radius: v.$radius-xl;
  border: none;
  transition: background-color 0.3s ease;

  cursor: pointer;
  @include m.hover-effect();
}
