@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.empty {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);

  width: 100%;
  min-height: 200px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    animation: float 2s ease-in-out infinite;
  }

  h2 {
    text-align: center;
    @include m.text-style(v.$font-title, v.$font-weight-bold, v.$line-height-default);
    letter-spacing: 0.08rem;
    color: var(--accent-color);
    animation: fadeSlideIn 0.6s ease-out forwards;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
