@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.dropdown {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: v.$radius-md;
  cursor: pointer;
}

.option {
  padding: 0.8rem 1.2rem;
  width: 100%;
  @include m.text-style(v.$font-size-xs, v.$font-weight-medium, v.$line-height-default);
  color: #b3b3b3;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background: #f5f5f5;
  }
}
