@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.task {
  opacity: 0;
  animation: fadeSlideIn 0.3s ease-out forwards;

  th,
  td {
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    transition: all 0.4s ease;
  }

  td {
    @include m.text-style(v.$font-size-sm, v.$font-weight-medium, v.$line-height-default);
    color: #b3b3b3;
  }

  & > td:first-child {
    width: 5%;
    white-space: nowrap;
  }

  & > td:nth-child(2) {
    width: 35%;
    text-align: left;
    overflow-x: auto;
  }

  & > td:nth-child(3) {
    width: 15%;
    white-space: nowrap;
  }

  & > td:nth-child(4) {
    width: 15%;
    white-space: nowrap;
  }

  & > td:nth-child(5) {
    width: 15%;
    white-space: nowrap;
  }

  & > td:nth-child(6) {
    width: 10%;
    white-space: nowrap;
  }

  & > td:last-child {
    width: 5%;
    white-space: nowrap;
  }

  input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .deadlineCell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    span {
      white-space: nowrap;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .task__statusWrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
  }

  .task__textCell {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .deleteBtn {
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    border: none;
    border-radius: v.$radius-sm;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 2.5rem;
      max-height: 2.5rem;
    }
  }
}

.task.done {
  th,
  td {
    border: 1px solid #e7e7e7;
    background-color: var(--nav-color);
    transition: all 0.4s ease;
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }
  60% {
    opacity: 0.8;
    transform: translateY(-2px) scale(1.01);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
