@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.notifications {
  position: relative;
  padding: 0 1rem;

  width: 100vw;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--header-height));
  }

  &__title {
    padding-top: 2rem;
    @include m.text-style(v.$font-title, v.$font-weight-bold, v.$line-height-default);
    color: var(--text-color);
    letter-spacing: 0.05rem;
    transition: color 0.4s ease;
  }

  &__subtitle {
    margin-top: 1rem;
    @include m.text-style(v.$font-size-md, v.$font-weight-medium, v.$line-height-default);
    color: var(--text-color);
    transition: color 0.3s ease;
  }

  &__controls {
    margin-top: 2rem;
  }

  &__controlsWrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
  }

  &__category {
    max-width: 25rem;

    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500.1px) {
  .notifications__controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notifications__controlsWrapper {
    width: 70%;
    flex-direction: column;
    gap: 1rem;
  }

  .notifications__buttons {
    width: 100%;

    button {
      width: 100%;
    }
  }

  .notifications__category {
    max-width: 100%;
    width: 100%;
  }
}
