@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.toaster {
  padding: 2rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  display: flex;
  align-items: center;
  column-gap: 1rem;

  border: 1px solid #ccc;
  border-radius: v.$radius-md;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  transform: translateX(-100px) translateY(0);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  &__icon {
    color: var(--accent-color);
    font-size: 2.5rem;
    transition: color 0.6s ease;
  }

  &__text {
    @include m.text-style(2rem, v.$font-weight-semibold, v.$line-height-tight);
    color: var(--text-color);
    transition: color 0.6s ease;
  }
}

.toaster.show {
  transform: translateX(0) translateY(0);
  opacity: 1;
}
