@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.scaleWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__numbers {
    padding: 0rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__category {
    @include m.text-style(v.$font-size-xs, v.$font-weight-medium, v.$line-height-default);
    transition: color 0.3s ease;

    span {
      font-weight: 800;
    }
  }

  &__completed {
    @include m.text-style(v.$font-size-xs, v.$font-weight-medium, v.$line-height-default);
    transition: color 0.3s ease;
  }

  &__scaleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }

  &__scale {
    position: relative;

    width: 100%;
    height: 2rem;

    background-color: #ebebeb;
    border-radius: v.$radius-md;
    box-sizing: border-box;
  }

  &__scaleFill {
    height: 100%;
    border-radius: v.$radius-md;
    transition: background-color 0.3s ease;
  }

  &__scaleParcent {
    padding: 1rem 0.5rem;
    @include m.text-style(v.$font-size-xs, v.$font-weight-medium, v.$line-height-default);
    transition: color 0.3s ease;
  }
}

@media screen and (max-width: 768.1px) {
  .scaleWrapper__numbers {
    column-gap: 1rem;
    flex-wrap: wrap;
  }
}
