@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.taskList {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 0;

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &__tableWrapper,
  &__empty {
    flex: 1 1 auto;
    min-height: 0;
  }

  &__cardWrapper {
    display: none;
    min-height: auto;
  }

  &__table {
    width: 100%;
    min-width: 60rem;
    table-layout: fixed;
    border-collapse: separate;
    border-radius: v.$radius-xl;
    border: 1px solid #d3d3d3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    th,
    td {
      padding: 1.2rem 1rem;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #d3d3d3;
    }

    th {
      background-color: #e1e0f0;
      @include m.text-style(v.$font-size-sm, v.$font-weight-medium, v.$line-height-default);
      color: #999999;
    }

    th:first-child {
      border-top-left-radius: v.$radius-xl;
    }
    th:last-child {
      border-top-right-radius: v.$radius-xl;
    }
    tbody tr:last-child td:first-child {
      border-bottom-left-radius: v.$radius-xl;
    }
    tbody tr:last-child td:last-child {
      border-bottom-right-radius: v.$radius-xl;
    }
  }
}

@media screen and (max-width: 1024.1px) {
  .taskList__cardWrapper {
    display: grid;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    align-items: start;
    grid-template-columns: repeat(2, minmax(22rem, 1fr));
  }

  .taskList__tableWrapper {
    display: none;
  }

  .taskList__content {
    flex: 0 0 auto;
    min-height: auto;
  }
}

@media screen and (max-width: 768.1px) {
  .taskList {
    margin-top: 0;
  }

  .taskList__cardWrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .taskList__cardWrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
