@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.taskList {
  margin-top: 3rem;
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 0;

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &__tableWrapper,
  &__empty {
    flex: 1 1 auto;
    min-height: 0;
  }

  &__cardWrapper {
    display: none;
    min-height: auto;
  }

  &__table {
    width: 100%;
    min-width: 60rem;
    table-layout: fixed;
    border-collapse: separate;
    border-radius: v.$radius-xl;
    border: 1px solid #d3d3d3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    th,
    td {
      padding: 1.2rem 1rem;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #d3d3d3;
    }

    th {
      background-color: #e1e0f0;
      @include m.text-style(v.$font-size-sm, v.$font-weight-medium, v.$line-height-default);
      color: #999999;
    }

    th:first-child {
      border-top-left-radius: v.$radius-xl;
    }
    th:last-child {
      border-top-right-radius: v.$radius-xl;
    }
    tbody tr:last-child td:first-child {
      border-bottom-left-radius: v.$radius-xl;
    }
    tbody tr:last-child td:last-child {
      border-bottom-right-radius: v.$radius-xl;
    }
  }

  &__empty {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        max-width: 50rem;
        max-height: 50rem;
        color: var(--accent-color);
      }

      h2 {
        text-align: center;
        @include m.text-style(v.$font-size-xl, v.$font-weight-bold, v.$line-height-default);
        letter-spacing: 0.01rem;
        color: var(--accent-color);
      }
    }
  }

  .pagination {
    margin-top: auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    cursor: pointer;

    &__back,
    &__next {
      width: 3.6rem;
      height: 3.6rem;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;

        img {
          width: 3.6rem;
          height: 3.6rem;
        }
      }
    }

    &__pages {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
    }

    &__pageNumber {
      width: 3.6rem;
      height: 3.6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include m.text-style(v.$font-size-sm, v.$font-weight-semibold, v.$line-height-default);
      color: #999;
      background-color: transparent;

      &.active {
        background-color: var(--accent-color);
        border-radius: v.$radius-sm;
        @include m.hover-effect();
        transition: all 0.3s ease;

        p {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1024.1px) {
  .taskList__cardWrapper {
    display: grid;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination {
    margin-top: 2rem;
  }

  .taskList__tableWrapper {
    display: none;
  }

  .taskList__content {
    flex: 0 0 auto;
    min-height: auto;
  }
}

@media screen and (max-width: 500px) {
  .taskList__cardWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
