@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.toast {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;

  border: 1px solid #ccc;
  border-radius: v.$radius-md;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);

  transform: translateX(-100px);
  opacity: 0;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease,
    max-height 0.4s ease,
    margin-bottom 0.4s ease;

  &__icon {
    color: var(--accent-color);
    font-size: 2.5rem;
    transition: color 0.6s ease;
  }

  &__text {
    @include m.text-style(2rem, v.$font-weight-semibold, v.$line-height-tight);
    color: var(--text-color);
    transition: color 0.6s ease;
  }

  &.show {
    transform: translateX(0);
    opacity: 1;

    max-height: 200px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768.1px) {
  .toaster {
    &__text {
      color: var(--text-color);
      @include m.text-style(3rem, v.$font-weight-semibold, v.$line-height-tight);
    }
  }
}
