@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.notificationList {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 0;

  &__empty {
    width: 100%;
    min-height: 200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.notificationWrapper {
  margin-top: 3rem;
  min-height: 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  row-gap: clamp(1rem, 0.4vw, 2rem);
  align-items: center;
}

@media screen and (max-width: 500.1px) {
  .notificationList {
    margin-top: 0rem;
  }
}
