@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.notificationList {
  margin-top: 4rem;
  width: 100%;
  overflow: hidden;

  &.empty {
    padding: 0;
  }

  &__empty {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    min-height: 200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      max-width: 40rem;
      max-height: 40rem;
    }

    h2 {
      text-align: center;
      @include m.text-style(v.$font-title, v.$font-weight-bold, v.$line-height-default);
      letter-spacing: 0.01rem;
      color: var(--accent-color);
    }
  }
}

.notificationWrapper {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}
