@use '@styles/variables.scss' as v;
@use '@styles/mixins.scss' as m;

.notificationList {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 0;

  &__empty {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    min-height: 200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      max-width: 40rem;
      max-height: 40rem;
    }

    h2 {
      text-align: center;
      @include m.text-style(v.$font-title, v.$font-weight-bold, v.$line-height-default);
      letter-spacing: 0.01rem;
      color: var(--accent-color);
    }
  }
}

.notificationWrapper {
  margin-top: 3rem;
  min-height: 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
}

@media screen and (max-width: 500.1px) {
  .notificationList {
    margin-top: 0rem;
  }
}
