.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;

  @media screen and (max-width: 1024px) {
    min-height: calc(var(--app-height) - var(--header-height));
  }
}
